(("lng_saved_messages"
  :value "Saved Messages")
 ("lng_profile_settings_section"
  :value "Settings")
 ("lng_profile_send_message"
  :value "Send Message")
 ("lng_profile_share_contact"
  :value "Share Contact")
 ("lng_profile_unblock_user"
  :value "Unblock User")
 ("lng_profile_block_user"
  :value "Block User")
 ("lng_profile_username"
  :value "Username:")
 ("lng_profile_mobile_number"
  :value "Phone:")
 ("lng_profile_bio"
  :value "Bio:")
 ("lng_settings_about_bio"
  :value "Any details such as age, occupation or city.
Example: 23 y.o. designer from San Francisco")
 ("lng_profile_common_groups"
  :zero_value "No groups in common"
  :one_value "{count} group in common"
  :other_value "{count} groups in common")

 ("lng_scam_badge"
  :value "SCAM")
 ("lng_owner_badge"
  :value "owner")
 ("lng_admin_badge"
  :value "admin")

 ("lng_polls_create_multiple_choice"
  :value "Multiple Answers")
 ("lng_polls_create_anonymous"
  :value "Anonymous Voting")
 ("lng_polls_create_question"
  :value "Question")
 ("lng_polls_anonymous"
  :value "Anonymous Poll")
 ("lng_polls_anonymous_quiz"
  :value "Anonymous Quiz")
 ("lng_polls_public"
  :value "Poll")
 ("lng_polls_public_quiz"
  :value "Quiz")
 ("lng_polls_votes_count"
  :zero_value "No votes"
  :one_value "{count} vote"
  :other_value "{count} votes")
 ("lng_polls_answers_count"
  :zero_value "No answers"
  :one_value "{count} answer"
  :other_value "{count} answers")
 ("lng_polls_stop_warning"
  :value "If you stop this poll now, nobody will be able to vote in it anymore. This action cannot be undone.")
 ("lng_deleted"
  :value "Deleted Account")
 ("lng_deleted_message"
  :value "Deleted Message")

 ("lng_settings_privacy_title"
  :value "Privacy")
 ("lng_blocked_list_title"
  :value "Blocked Users")
 ("lng_settings_section_privacy"
  :value "Privacy and Security")

 ("lng_action_created_chat"
  :value "{from} created the group «{title}»")
 ("lng_action_created_channel"
  :value "Channel created")
 ("lng_action_changed_title"
  :value "{from} renamed group to «{title}»")
 ("lng_action_changed_title_channel"
  :value "Channel renamed to «{title}»")
 ("lng_action_changed_photo"
  :value "{from} updated group photo")
 ("lng_action_changed_photo_channel"
  :value "Channel photo updated")
 ("lng_action_changed_video"
  :value "{from} updated group video")
 ("lng_action_changed_video_channel"
  :value "Channel video updated")
 ("lng_action_pinned_message"
  :value "{from} pinned «{text}»")
 ("lng_pinned_notify"
  :value "Notify all members")

 ("lng_action_user_registered"
  :value "{from} joined Telegram")
 ("lng_action_user_joined"
  :value "{from} joined the group")
 ("lng_action_user_joined_by_link"
  :value "{from} joined the group via invite link")
 ("lng_action_user_left"
  :value "{from} left the group")
 ("lng_action_kick_user"
  :value "{from} removed {user}")

 ("lng_action_game_score"
  :one_value "{from} scored {count} in {game}"
  :other_value "{from} scored {count} in {game}")
 ("lng_action_game_you_scored"
  :one_value "You scored {count} in {game}"
  :other_value "You scored {count} in {game}")
 ("lng_action_game_score_no_game"
  :one_value "{from} scored {count}"
  :other_value "{from} scored {count}")
 ("lng_action_game_you_scored_no_game"
  :one_value "You scored {count}"
  :other_value "You scored {count}")

 ("telega_action_group_upgrade_to"
  :value "{from} upgraded the group to supergroup")
 ("telega_action_group_upgrade_from"
  :value "{from} created supergroup from the group")

 ;; chatbuf modeline
 ("telega_chat_modeline_unread"
  :value "unread:{unread_count}")
 ("telega_chat_modeline_unread_help"
  :value "{mouse}: Read all messages")
 ("telega_chat_modeline_marked"
  :value "marked:{marked_count}")
 ("telega_chat_modeline_marked_help"
  :value "{mouse}: Unmark all messages")
 ("telega_chat_modeline_mention_help"
  :value "{mouse}: Goto next mention")
 ("telega_chat_modeline_pinned_msg_help"
  :value "{mouse}: Goto pinned message")
 ("telega_chat_modeline_discuss_help"
  :value "{mouse}: Goto chat to discuss this channel")
 ("telega_chat_modeline_members"
  :zero_value "{member_count} members"
  :other_value "{member_count} members, {count} online")

 ;; queries to user
 ("telega_action_cant_undone"
  :value "This action cannot be undone")
 ("telega_query_delete_chat"
  :value "Delete «{title}» chat? ")
 ("telega_query_delete_chat_history"
  :value "Delete all message history in «{title}» chat? ")
 ("telega_query_read_chats"
  :one_value "Toggle read for {count} chat? "
  :other_value "Toggle read for {count} chats? ")
 ("telega_query_read_anyway"
  :value "No filtering applied, toggle anyway? ")
 ("telega_query_kill_chatbufs"
  :value "Kill {count} chatbufs? ")
 ("telega_query_kill_anyway"
  :value "No filtering applied, kill chatbufs anyway? ")
 ("telega_query_revoke_message"
  :value "Revoke the message? ")
 ("telega_query_kill_message"
  :value "Kill the message? ")
 ("telega_query_revoke_marked_messages"
  :one_value "Revoke {count} marked message? "
  :other_value "Revoke {count} marked messages? ")
 ("telega_query_kill_marked_messages"
  :one_value "Kill {count} marked message? "
  :other_value "Kill {count} marked messages? ")
 ("telega_query_dnd_photo_as_file"
  :value "Send this photo as a file? ")

 ("lng_profile_delete_channel"
  :value "Delete channel")
 ("lng_profile_delete_group"
  :value "Delete group")
 ("lng_sure_delete_channel"
  :value "Are you sure you want to delete this channel? All members will be removed and all messages will be lost.")
 ("lng_sure_delete_group"
  :value "Are you sure you want to delete this group? All members will be removed, and all messages will be lost.")

 ("lng_settings_self_destruct"
  :value "Account self-destruct settings")
 ("lng_self_destruct_title"
  :value "Account self-destruction")
 ("lng_self_destruct_description"
  :value "If you don't come online at least once within this period, your account will be deleted along with all groups, messages and contacts.")
 ("lng_settings_destroy_if"
  :value "If away for...")
 ("lng_self_destruct_months"
  :one_value "{count} month"
  :other_value "{count} months")
 ("lng_self_destruct_years"
  :one_value "{count} year"
  :other_value "{count} years")

 ("lng_archived_add"
  :value "Archive chat")
 ("lng_archived_remove"
  :value "Unarchive chat")

 ("lng_status_online"
  :value "online")

 ("lng_report_spam"
  :value "Report Spam")
 ("lng_report_spam_and_leave"
  :value "Report Spam and Leave")
 ("lng_report_location"
  ;; To report chat with "UnrelatedLocation" reason
  :value "Report Location")
 ("lng_new_contact_add"
  :value "Add contact")
 ("lng_new_contact_add_name"
  :value "Add {user} to contacts")
 ("lng_new_contact_block"
  :value "Block user")
 ("lng_new_contact_share"
  :value "Share my phone number")
 ("lng_blocked_list_confirm_text"
  :value "Do you want to block {name} from messaging and calling you on Telegram?")

 ("lng_manage_linked_channel"
  :value "Linked channel")
 ("lng_channel_discuss"
  :value "Discuss")
 ("lng_channel_not_accessible"
  :value "Sorry, this channel is not accessible.")

 ("telega_scheduled"
  :value "Scheduled")
 ("telega_scheduled_at_date"
  :value "at {date}")
 ("telega_scheduled_when_online"
  :value "when online")

 ;; Group owenership transfering
 ("lng_rights_transfer_about"
  :value "This will transfer the full **owner rights** for {group} to {user}.")
 ("lng_rights_transfer_password_description"
  :value "Please enter your password to complete the transfer.")
 ("lng_rights_transfer_sure"
  :value "Change owner")
 ("lng_rights_transfer_group"
  :value "Transfer group ownership")
 ("lng_rights_transfer_channel"
  :value "Transfer channel ownership")
 ("lng_rights_transfer_check_about"
  :value "You can transfer this group to {user} only if you have:")
 ("lng_rights_transfer_check_session"
  :value "• Logged in on this device more than **24 hours** ago.")
 ("lng_rights_transfer_check_password"
  :value "• Enabled **2-Step Verification** more than **7 days** ago.")
 ("lng_rights_transfer_check_later"
  :value "Please come back later.")
 ("lng_rights_transfer_done_channel"
  :value "{user} is now the owner of the channel.")
 ("lng_rights_transfer_done_group"
  :value "{user} is now the owner of the group.")
 ("lng_rights_edit_admin_rank_name"
  :value "Custom title")
 ("lng_rights_edit_admin_rank_about"
  :value "A custom title that will be shown to all members instead of '{title}'.")

 ;; Help messages
 ("telega_scheduled_help"
  :value "This message will be scheduled")
 ("telega_disable_notification_help"
  :value "This message won't pop notification on receiver side")
 ("telega_enable_notification_help"
  :value "This message will pop notification on receiver side")
 ("telega_forward_new_caption_help"
  :value "New caption for the forwarded message")
 ("telega_disable_webpage_preview_help"
  :value "This message won't have webpage preview")

 ("telega_enable_notification"
  :value "Enable Receiver Notification")
 ("telega_disable_notification"
  :value "Disable Receiver Notification")
 ("telega_disable_webpage_preview"
  :value "Disable WebPage Preview")

 ("telega_random_dice"
  :value "Random Dice")

 ("lng_settings_faq"
  :value "Telegram FAQ")
 ("lng_settings_ask_question"
  :value "Ask a Question")
 ("telega_settings_telega_manual"
  :value "Telega.el Manual")

 ("lng_ttl_photo_expired"
  :value "Photo has expired")
 ("lng_ttl_video_expired"
  :value "Video has expired")

 ;; Calls
 ("lng_call_error_not_available"
  :value "Sorry, you cannot call {user} because of their privacy settings.")
 ("lng_call_error_outdated"
  :value "{user}'s app does not support calls. They need to update their app before you can call them.")
 ("lng_call_duration_info"
  :value "{time}, {duration}")
 ("lng_call_type_and_duration"
  :value "{type} ({duration})")
 ("lng_call_fingerprint_tooltip"
  :value "If emoji on {user}'s screen are the same, this call is 100% secure")

 ("lng_call_outgoing"
  :value "Outgoing call")
 ("lng_call_video_outgoing"
  :value "Outgoing video call")
 ("lng_call_cancelled"
  :value "Cancelled call")
 ("lng_call_video_cancelled"
  :value "Cancelled video call")
 ("lng_call_incoming"
  :value "Incoming call")
 ("lng_call_video_incoming"
  :value "Incoming video call")
 ("lng_call_declined"
  :value "Declined call")
 ("lng_call_video_declined"
  :value "Declined video call")
 ("lng_call_missed"
  :value "Missed call")
 ("lng_call_video_missed"
  :value "Missed video call")

 ("lng_call_status_connecting"
  :value "connecting...")
 ("lng_call_status_waiting"
  :value "waiting...")
 ("lng_call_status_ringing"
  :value "ringing...")
 ("lng_call_status_hanging"
  :value "hanging up...")
 ("lng_call_status_ended"
  :value "call ended")
 ("lng_call_status_incoming"
  :value "is calling you...")
 ("lng_call_status_exchanging"
  :value "exchanging encryption keys...")
 ("lng_call_status_busy"
  :value "line busy")
 ("lng_call_status_requesting"
  :value "requesting...")
 ("lng_call_status_failed"
  :value "failed to connect")

 ;; login url
 ("lng_url_auth_open_confirm"
  :value "Do you want to open {link}?")
 ("lng_url_auth_login_option"
  :value "Log in to {domain} as {user}")
 ("lng_url_auth_allow_messages"
  :value "Allow {bot} to send me messages")

 ;; Notifications
 ("lng_notification_reminder"
  :value "Reminder")

 ;; Folders
 ("lng_settings_section_filters"
  :value "Folders")
 ("lng_filters_title"
  :value "Folders")
 ("lng_filters_recommended"
  :value "Recommended folders")
 ("lng_filters_create"
  :value "Create new folder")
 ("lng_filters_icon_header"
  :value "Choose an icon")
 ("lng_filters_new"
  :value "New Folder")
 ("lng_filters_new_name"
  :value "Folder name")
 ("lng_filters_edit"
  :value "Edit Folder")
 ("lng_filters_recommended"
  :value "Recommended folders")
 ("lng_filters_limit"
  :value "Sorry, you can't create more folders.")
 ("lng_filters_default"
  :value "Please change at least one rule for this folder.")
 ("lng_filters_remove_sure"
  :value "This will remove the folder, chats won't be deleted.")

 ;; Root View titles
 ("lng_menu_settings"
  :value "Settings")
 ("telega_view_pinned_messages"
  :value "Pinned Messages")
 ("telega_view_deleted_chats"
  :value "Recently Deleted Chats")

 ("telega_option_sensitive_content"
  :value "Show Sensitive Content")
 ("telega_option_prefer_ipv6"
  :value "Prefer IPv6")
 )
