(
 ("lng_weekday1" :value "Mon")
 ("lng_weekday2" :value "Tue")
 ("lng_weekday3" :value "Wed")
 ("lng_weekday4" :value "Thu")
 ("lng_weekday5" :value "Fri")
 ("lng_weekday6" :value "Sat")
 ("lng_weekday7" :value "Sun")

 ("lng_month1" :value "January")
 ("lng_month1_small" :value "Jan")
 ("lng_month2" :value "February")
 ("lng_month2_small" :value "Feb")
 ("lng_month3" :value "March")
 ("lng_month3_small" :value "Mar")
 ("lng_month4" :value "April")
 ("lng_month4_small" :value "Apr")
 ("lng_month5" :value "May")
 ("lng_month5_small" :value "May")
 ("lng_month6" :value "June")
 ("lng_month6_small" :value "Jun")
 ("lng_month7" :value "July")
 ("lng_month7_small" :value "Jul")
 ("lng_month8" :value "August")
 ("lng_month8_small" :value "Aug")
 ("lng_month9" :value "September")
 ("lng_month9_small" :value "Sep")
 ("lng_month10" :value "October")
 ("lng_month10_small" :value "Oct")
 ("lng_month11" :value "November")
 ("lng_month11_small" :value "Nov")
 ("lng_month12" :value "December")
 ("lng_month12_small" :value "Dec")
  
 ("lng_profile_loading"
  :value "Loading...")

 ("lng_saved_messages"
  :value "Saved Messages")
 ("lng_replies_messages"
  :value "Replies")
 ("lng_replies_discussion_started"
  :value "Discussion started")
 ("lng_profile_settings_section"
  :value "Settings")
 ("lng_profile_send_message"
  :value "Send Message")
 ("lng_profile_share_contact"
  :value "Share Contact")
 ("lng_profile_unblock_user"
  :value "Unblock User")
 ("lng_profile_block_user"
  :value "Block User")
 ("lng_profile_username"
  :value "Username:")
 ("lng_profile_mobile_number"
  :value "Phone:")
 ("lng_profile_bio"
  :value "Bio:")
 ("lng_settings_about_bio"
  :value "Any details such as age, occupation or city.
Example: 23 y.o. designer from San Francisco")
 ("lng_profile_common_groups"
  :zero_value "No groups in common"
  :one_value "{count} group in common"
  :other_value "{count} groups in common")

 ("lng_scam_badge"
  :value "SCAM")
 ("lng_fake_badge"
  :value "FAKE")
 ("lng_owner_badge"
  :value "owner")
 ("lng_admin_badge"
  :value "admin")

 ("lng_polls_create_multiple_choice"
  :value "Multiple Answers")
 ("lng_polls_create_anonymous"
  :value "Anonymous Voting")
 ("lng_polls_create_question"
  :value "Question")
 ("lng_polls_anonymous"
  :value "Anonymous Poll")
 ("lng_polls_anonymous_quiz"
  :value "Anonymous Quiz")
 ("lng_polls_public"
  :value "Poll")
 ("lng_polls_public_quiz"
  :value "Quiz")
 ("lng_polls_votes_count"
  :zero_value "No votes"
  :one_value "{count} vote"
  :other_value "{count} votes")
 ("lng_polls_answers_count"
  :zero_value "No answers"
  :one_value "{count} answer"
  :other_value "{count} answers")
 ("lng_polls_stop_warning"
  :value "If you stop this poll now, nobody will be able to vote in it anymore. This action cannot be undone.")
 ("lng_polls_solution_title"
  :value "Explanation")

 ("lng_deleted"
  :value "Deleted Account")
 ("lng_deleted_message"
  :value "Deleted Message")
 ("lng_delete_all_from"
  :value "Delete all from this user")

 ("lng_settings_privacy_title"
  :value "Privacy")
 ("lng_blocked_list_title"
  :value "Blocked Users")
 ("lng_settings_section_privacy"
  :value "Privacy and Security")
 ("lng_settings_section_notify"
  :value "Notifications")

 ;; Screenshot #8262 - https://translations.telegram.org/en/search?lang_pack=tdesktop&l=screenshot8262
 ("lng_settings_new_unknown"
  :value "New chats from unknown users")
 ("lng_settings_auto_archive"
  :value "Archive and Mute")
 ("lng_settings_auto_archive_about"
  :value "Automatically archive and mute new chats, groups and channels from non-contacts.")

 ("lng_action_created_chat"
  :value "{from} created the group «{title}»")
 ("lng_action_created_channel"
  :value "Channel created")
 ("lng_action_changed_title"
  :value "{from} renamed group to «{title}»")
 ("lng_action_changed_title_channel"
  :value "Channel renamed to «{title}»")
 ("lng_action_changed_photo"
  :value "{from} updated group photo")
 ("lng_action_changed_photo_channel"
  :value "Channel photo updated")
 ("lng_action_changed_video"
  :value "{from} updated group video")
 ("lng_action_changed_video_channel"
  :value "Channel video updated")
 ("lng_action_pinned_message"
  :value "{from} pinned «{text}»")
 ("lng_pinned_notify"
  :value "Notify all members")

 ("lng_action_user_registered"
  :value "{from} joined Telegram")
 ("lng_action_user_joined"
  :value "{from} joined the group")
 ("lng_action_user_joined_by_link"
  :value "{from} joined the group via invite link")
 ("lng_action_user_left"
  :value "{from} left the group")
 ("lng_action_add_user"
  :value "{from} added {user}")
 ("lng_action_kick_user"
  :value "{from} removed {user}")

 ("lng_action_you_took_screenshot"
  :value "You took a screenshot!")
 ("lng_action_took_screenshot"
  :value "{from} took a screenshot!")

 ("lng_action_game_score"
  :one_value "{from} scored {count} in {game}"
  :other_value "{from} scored {count} in {game}")
 ("lng_action_game_you_scored"
  :one_value "You scored {count} in {game}"
  :other_value "You scored {count} in {game}")
 ("lng_action_game_score_no_game"
  :one_value "{from} scored {count}"
  :other_value "{from} scored {count}")
 ("lng_action_game_you_scored_no_game"
  :one_value "You scored {count}"
  :other_value "You scored {count}")

 ("lng_action_proximity_reached_you"
  :value "{from} is now within {distance} from you")
 ("lng_action_you_proximity_reached"
  :value "You are now within {distance} from {user}")
 ("lng_action_proximity_reached"
  :value "{from} is now within {distance} from {user}")
 ("lng_action_proximity_distance_m"
  :one_value "{count} meter"
  :other_value "{count} metres")
 ("lng_action_proximity_distance_km"
  :one_value "{count} km"
  :other_value "{count} km")

 ("telega_action_group_upgrade_to"
  :value "{from} upgraded the group to supergroup")
 ("telega_action_group_upgrade_from"
  :value "{from} created supergroup from the group")

 ;; chatbuf modeline
 ("telega_chat_modeline_unread"
  :value "unread:{unread_count}")
 ("telega_chat_modeline_unread_help"
  :value "{mouse}: Read all messages")
 ("telega_chat_modeline_marked"
  :value "marked:{marked_count}")
 ("telega_chat_modeline_marked_help"
  :value "{mouse}: Unmark all messages")
 ("telega_chat_modeline_mention_help"
  :value "{mouse}: Goto next mention")
 ("telega_chat_modeline_pinned_msg_help"
  :value "{mouse}: Goto pinned message")
 ("telega_chat_modeline_thread_msg_help"
  :value "{mouse}: Goto thread starter message")
 ("telega_chat_modeline_discuss_help"
  :value "{mouse}: Goto chat to discuss this channel")
 ("telega_chat_modeline_video_chat_help"
  :value "{mouse}: Goto Video Chat of this group")
 ("telega_chat_modeline_members"
  :zero_value "{member_count} members"
  :other_value "{member_count} members, {count} online")

 ;; Chatbuf prompt
 ("telega_chat_prompt_broadcast"
  :value "Broadcast")
 ("telega_chat_prompt_anonymous"
  :value "Anonymous")
 ("telega_chat_prompt_comment"
  :value "Comment")

 ;; queries to user
 ("telega_action_cant_undone"
  :value "This action cannot be undone")
 ("telega_query_delete_chat"
  :value "Delete «{title}» chat? ")
 ("telega_query_delete_chat_history"
  :value "Delete all messages history in «{title}» chat? ")
 ("telega_query_read_chats"
  :one_value "Toggle read for {count} chat? "
  :other_value "Toggle read for {count} chats? ")
 ("telega_query_read_anyway"
  :value "No filtering applied, toggle anyway? ")
 ("telega_query_kill_chatbufs"
  :value "Kill {count} chatbufs? ")
 ("telega_query_kill_anyway"
  :value "No filtering applied, kill chatbufs anyway? ")
 ("telega_query_revoke_message"
  :value "Revoke (for everyone) the message? ")
 ("telega_query_kill_message"
  :value "Kill (for me only) the message? ")
 ("telega_query_revoke_marked_messages"
  :one_value "Revoke (for everyone) {count} marked message? "
  :other_value "Revoke (for everyone) {count} marked messages? ")
 ("telega_query_kill_marked_messages"
  :one_value "Kill (for me only) {count} marked message? "
  :other_value "Kill (for me only) {count} marked messages? ")
 ("telega_query_dnd_photo_as_file"
  :value "Send this photo as a file? ")
 ("telega_query_reset_notifications"
  :value "Reset all notifications settings? ")

 ("lng_profile_delete_channel"
  :value "Delete channel")
 ("lng_profile_delete_group"
  :value "Delete group")
 ("lng_sure_delete_channel"
  :value "Are you sure you want to delete this channel? All members will be removed and all messages will be lost.")
 ("lng_sure_delete_group"
  :value "Are you sure you want to delete this group? All members will be removed, and all messages will be lost.")

 ("lng_settings_self_destruct"
  :value "Account self-destruct settings")
 ("lng_self_destruct_title"
  :value "Account self-destruction")
 ("lng_self_destruct_description"
  :value "If you don't come online at least once within this period, your account will be deleted along with all groups, messages and contacts.")
 ("lng_settings_destroy_if"
  :value "If away for...")
 ("lng_self_destruct_months"
  :one_value "{count} month"
  :other_value "{count} months")
 ("lng_self_destruct_years"
  :one_value "{count} year"
  :other_value "{count} years")

 ("lng_archived_add"
  :value "Archive chat")
 ("lng_archived_remove"
  :value "Unarchive chat")

 ;; Online status
 ("lng_status_online"
  :value "online")
 ("lng_status_offline"
  :value "last seen a long time ago")
 ("lng_status_lastseen_now"
  :value "last seen just now")
 ("lng_status_recently"
  :value "last seen recently")
 ("lng_status_lastseen_today"
  :value "last seen today at {time}")
 ("lng_status_lastseen_date_time"
  :value "last seen {date} at {time}")
 ("lng_status_lastseen_date"
  :value "last seen {date}")
 ("lng_status_last_week"
  :value "last seen within a week")
 ("lng_status_last_month"
  :value "last seen within a month")

 ("lng_report_spam"
  :value "Report Spam")
 ("lng_report_spam_and_leave"
  :value "Report Spam and Leave")
 ("lng_report_location"
  ;; To report chat with "UnrelatedLocation" reason
  :value "Report Location")
 ("lng_new_contact_add"
  :value "Add contact")
 ("lng_new_contact_add_name"
  :value "Add {user} to contacts")
 ("lng_new_contact_block"
  :value "Block user")
 ("lng_new_contact_share"
  :value "Share my phone number")
 ("lng_blocked_list_confirm_text"
  :value "Do you want to block {name} from messaging and calling you on Telegram?")

 ("lng_manage_linked_channel"
  :value "Linked channel")
 ("lng_channel_discuss"
  :value "Discuss")
 ("lng_channel_not_accessible"
  :value "Sorry, this channel is not accessible.")

 ("telega_scheduled"
  :value "Scheduled")
 ("telega_scheduled_at_date"
  :value "at {date}")
 ("telega_scheduled_when_online"
  :value "when online")

 ;; Group owenership transfering
 ("lng_rights_transfer_about"
  :value "This will transfer the full **owner rights** for {group} to {user}.")
 ("lng_rights_transfer_password_description"
  :value "Please enter your password to complete the transfer.")
 ("lng_rights_transfer_sure"
  :value "Change owner")
 ("lng_rights_transfer_group"
  :value "Transfer group ownership")
 ("lng_rights_transfer_channel"
  :value "Transfer channel ownership")
 ("lng_rights_transfer_check_about"
  :value "You can transfer this group to {user} only if you have:")
 ("lng_rights_transfer_check_session"
  :value "• Logged in on this device more than **24 hours** ago.")
 ("lng_rights_transfer_check_password"
  :value "• Enabled **2-Step Verification** more than **7 days** ago.")
 ("lng_rights_transfer_check_later"
  :value "Please come back later.")
 ("lng_rights_transfer_done_channel"
  :value "{user} is now the owner of the channel.")
 ("lng_rights_transfer_done_group"
  :value "{user} is now the owner of the group.")
 ("lng_rights_edit_admin_rank_name"
  :value "Custom title")
 ("lng_rights_edit_admin_rank_about"
  :value "A custom title that will be shown to all members instead of '{title}'.")

 ;; Screenshot #7213 - https://translations.telegram.org/en/search?lang_pack=tdesktop&l=screenshot7213
 ("lng_rights_slowmode_header"
  :value "Slow mode")
 ("lng_rights_slowmode_off"
  :value "Off")
 ("lng_rights_slowmode_about"
  :value "Members will be able to send only one message per this interval.")
 ("lng_rights_slowmode_about_interval"
  :value "Members will be able to send only one message {interval}.")
 ("lng_rights_slowmode_interval_minutes"
  :one_value "every {count} minute"
  :other_value "every {count} minutes")

 ;; Screenshot #6213 - https://translations.telegram.org/en/search?lang_pack=tdesktop&l=screenshot6213
 ("lng_manage_peer_permissions"
  :value "Permissions")
 ("lng_rights_default_restrictions_header"
  :value "What can members of this group do?")
 ("lng_rights_chat_send_text"
  :value "Send messages")
 ("lng_rights_chat_send_media"
  :value "Send media")
 ("lng_rights_chat_send_stickers"
  :value "Send stickers & GIFs")
 ("lng_rights_chat_send_links"
  :value "Embed links")
 ("lng_rights_chat_send_polls"
  :value "Send polls")
 ("lng_rights_chat_add_members"
  :value "Add members")
 ("lng_rights_group_pin"
  :value "Pin messages")
 ("lng_rights_group_info"
  :value "Change group info")
 ("lng_manage_peer_exceptions"
  :value "Exceptions")

 ;; Screenshot #5571 - https://translations.telegram.org/en/search?lang_pack=tdesktop&l=screenshot5571
 ("lng_rights_edit_admin_header"
  :value "What can this admin do?")
 ("lng_rights_group_delete"
  :value "Delete messages")
 ;; lng_rights_group_info
 ("lng_rights_group_ban"
  :value "Ban users") 
 ("lng_rights_group_invite_link"
  :value "Invite users via link")
 ("lng_rights_add_admins"
  :value "Add new admins")
 ("lng_rights_about_add_admins_yes"
  :value "This admin will be able to add new admins with the same (or more limited) permissions.")
 ("lng_rights_about_add_admins_yes"
  :value "This admin will be able to add new admins with the same (or more limited) permissions.")
 ("lng_rights_about_admin_cant_edit"
  :value "You cannot edit the rights of this admin.") ; :can_be_edited
 ("lng_rights_group_manage_calls"
  :value "Manage voice chats")
 ("lng_rights_group_anonymous"
  :value "Remain Anonymous")
 ("lng_rights_edit_admin"
  :value "Edit permissions")
 ("telega_rights_restrict_members"
  :value "Restrict Members")
 ("telega_rights_promote_members"
  :value "Promote Members")

 ;; Screenshot #7348 - https://translations.telegram.org/en/search?lang_pack=tdesktop&l=screenshot7348
 ("lng_channel_add_admin"
  :value "Add Administrator")
 ;; lng_rights_edit_admin_header
 ("lng_rights_channel_info"
  :value "Change channel info")
 ("lng_rights_channel_post"
  :value "Post messages")
 ("lng_rights_channel_edit"
  :value "Edit messages of others")
 ("lng_rights_channel_delete"
  :value "Delete messages of others")
 ("lng_channel_add_members"
  :value "Add members")
 ;; lng_rights_add_admins

 ;; Help messages
 ("telega_scheduled_help"
  :value "This message will be scheduled")
 ("telega_disable_notification_help"
  :value "This message won't pop notification on receiver side")
 ("telega_enable_notification_help"
  :value "This message will pop notification on receiver side")
 ("telega_forward_new_caption_help"
  :value "New caption for the forwarded message")
 ("telega_disable_webpage_preview_help"
  :value "This message won't have webpage preview")
 ("telega_reset_notifications_help"
  :value "Undo all custom notification settings for all chats")

 ("telega_enable_notification"
  :value "Enable Receiver Notification")
 ("telega_disable_notification"
  :value "Disable Receiver Notification")
 ("telega_disable_webpage_preview"
  :value "Disable WebPage Preview")
 ("telega_reset_notifications"
  :value "Reset All Notifications")

 ("telega_random_dice"
  :value "Random Dice")

 ("lng_settings_faq"
  :value "Telegram FAQ")
 ("lng_settings_ask_question"
  :value "Ask a Question")
 ("telega_settings_telega_manual"
  :value "Telega.el Manual")
 ("telega_settings_donate"
  :value "Donate")

 ("lng_ttl_photo_expired"
  :value "Photo has expired")
 ("lng_ttl_video_expired"
  :value "Video has expired")
 ;; message_ttl_setting
 ("lng_ttl_about_duration1"
  :value "24 hours")
 ("lng_ttl_about_duration2"
  :value "7 days")
 ("lng_ttl_about_duration3"
  :value "1 month")
 ("telega_ttl_about_disable"
  :value "disable")

 ;; Calls
 ("lng_call_error_not_available"
  :value "Sorry, you cannot call {user} because of their privacy settings.")
 ("lng_call_error_outdated"
  :value "{user}'s app does not support calls. They need to update their app before you can call them.")
 ("lng_call_duration_info"
  :value "{time}, {duration}")
 ("lng_call_type_and_duration"
  :value "{type} ({duration})")
 ("lng_call_fingerprint_tooltip"
  :value "If emoji on {user}'s screen are the same, this call is 100% secure")

 ("lng_call_outgoing"
  :value "Outgoing call")
 ("lng_call_video_outgoing"
  :value "Outgoing video call")
 ("lng_call_cancelled"
  :value "Cancelled call")
 ("lng_call_video_cancelled"
  :value "Cancelled video call")
 ("lng_call_incoming"
  :value "Incoming call")
 ("lng_call_video_incoming"
  :value "Incoming video call")
 ("lng_call_declined"
  :value "Declined call")
 ("lng_call_video_declined"
  :value "Declined video call")
 ("lng_call_missed"
  :value "Missed call")
 ("lng_call_video_missed"
  :value "Missed video call")

 ("lng_call_status_connecting"
  :value "connecting...")
 ("lng_call_status_waiting"
  :value "waiting...")
 ("lng_call_status_ringing"
  :value "ringing...")
 ("lng_call_status_hanging"
  :value "hanging up...")
 ("lng_call_status_ended"
  :value "call ended")
 ("lng_call_status_incoming"
  :value "is calling you...")
 ("lng_call_status_exchanging"
  :value "exchanging encryption keys...")
 ("lng_call_status_busy"
  :value "line busy")
 ("lng_call_status_requesting"
  :value "requesting...")
 ("lng_call_status_failed"
  :value "failed to connect")

 ;; login url
 ("lng_url_auth_open_confirm"
  :value "Do you want to open {link}?")
 ("lng_url_auth_login_option"
  :value "Log in to {domain} as {user}")
 ("lng_url_auth_allow_messages"
  :value "Allow {bot} to send me messages")

 ;; Notifications
 ("lng_notification_reminder"
  :value "Reminder")

 ;; Folders
 ("lng_settings_section_filters"
  :value "Folders")
 ("lng_filters_title"
  :value "Folders")
 ("lng_filters_recommended"
  :value "Recommended folders")
 ("lng_filters_create"
  :value "Create new folder")
 ("lng_filters_icon_header"
  :value "Choose an icon")
 ("lng_filters_new"
  :value "New Folder")
 ("lng_filters_new_name"
  :value "Folder name")
 ("lng_filters_edit"
  :value "Edit Folder")
 ("lng_filters_recommended"
  :value "Recommended folders")
 ("lng_filters_limit"
  :value "Sorry, you can't create more folders.")
 ("lng_filters_default"
  :value "Please change at least one rule for this folder.")
 ("lng_filters_remove_sure"
  :value "This will remove the folder, chats won't be deleted.")

 ;; Comments
 ("lng_comments_open_none"
  :value "Leave a Comment")
 ("lng_comments_open_count"
  :one_value "{count} Comment"
  :other_value "{count} Comments")

 ;; Root View titles
 ("lng_menu_settings"
  :value "Settings")
 ("telega_view_pinned_messages"
  :value "Pinned Messages")
 ("telega_view_deleted_chats"
  :value "Recently Deleted Chats")
 ("telega_view_files"
  :value "Files")

 ;; #5584 - https://translations.telegram.org/en/search?lang_pack=tdesktop&l=screenshot5584
 ("lng_mute_duration_forever"
  :value "Forever")
 ("lng_mute_box_tip"
  :value "Choose for how long you would like to turn off notifications for the following chat")

 ;; #917 - https://translations.telegram.org/en/search?lang_pack=tdesktop&l=screenshot917
 ("lng_context_reply_msg"
  :value "Reply")
 ("lng_context_edit_msg"
  :value "Edit")

 ("telega_option_sensitive_content"
  :value "Show Sensitive Content")
 ("lng_settings_sensitive_about"
  :value "Display sensitive media in public channels on all your Telegram devices.")
 ("telega_option_prefer_ipv6"
  :value "Prefer IPv6")

 ;; For contrib packages
 ("telega_dashboard_telega_not_running"
  :value "telega not running")
 ("telega_stories_heading"
  :value "Emacs Stories")
 ("telega_stories_no_stories"
  :value "No unread stories")
 ("telega_stories_featured"
  :value "Featured")

 ;; Group call chats
 ("lng_group_call_starts"
  :value "Voice Chat starts {when}")
 ("lng_group_call_starts_in"
  :value "Starts in")
 ("lng_group_call_start_now"
  :value "Start Now")
 ("lng_group_call_edit_title_header"
  :value "Voice chat title")
 ("lng_group_call_schedule_title"
  :value "Schedule Voice Chat")
 ("lng_group_call_scheduled_status"
  :value "Scheduled")

 ("lng_group_call_title"
  :value "Voice Chat")
 ("lng_group_call_end"
  :value "End Voice Chat")
 ("lng_group_call_leave_title"
  :value "Leave voice chat")
 ("lng_group_call_leave_sure"
  :value "Do you want to leave this voice chat?")
 ("lng_group_call_join_as_header"
  :value "Join Voice Chat as...")

 ("lng_group_call_members"
  :one_value "{count} participant"
  :other_value "{count} participants")
 ("lng_action_group_call_scheduled_group"
  :value "{from} scheduled a voice chat for {date}")
 ("lng_action_group_call_scheduled_channel"
  :value "Voice chat scheduled for {date}")
 ("lng_action_group_call_started"
  :value "{from} started {chat}")
 ("lng_action_group_call_started_chat"
  :value "a voice chat")
 ("lng_action_group_call_finished"
  :value "Voice chat finished ({duration})")
 ("lng_group_call_invite_done_user"
  :value "You invited {user} to the voice chat.")
 ("lng_group_call_invite_done_many"
  :one_value "You invited **{count} member** to the voice chat."
  :other_value "You invited **{count} members** to the voice chat.")
 ("lng_action_invite_users_many"
  :value "{from} invited {users} to {chat}")
 ("lng_action_invite_user_chat"
  :value "the voice chat")

 ("lng_action_theme_changed"
  :value "{from} changed the chat theme to {emoji}")
 ("lng_action_you_theme_changed"
  :value "You changed the chat theme to {emoji}")
 ("lng_action_theme_disabled"
  :value "{from} disabled the chat theme")
 ("lng_action_you_theme_disabled"
  :value "You disabled the chat theme")

 ("lng_action_bot_allowed_from_domain"
  :value "You allowed this bot to message you when you logged in on {domain}.")

 ("lng_rights_gigagroup_title"
  :value "Broadcast group")
 ("lng_rights_gigagroup_about"
  :value "Broadcast groups can have over 200,000 members, but only admins can send messages in them.")
 ("lng_gigagroup_convert_feature1"
  :value "No limit on the number of members.")
 ("lng_gigagroup_convert_feature2"
  :value "Only admins can send messages.")
 ("lng_gigagroup_convert_feature3"
  :value "Can't be turned back into a regular group.")

 ;; Player controls
 ("lng_mac_menu_player_stop"
  :value "Stop")

 ;; QR code
 ("lng_phone_to_qr"
  :value "Quick log in using QR code")
 ("lng_intro_qr_step1"
  :value "Open Telegram on your phone")
 ("lng_intro_qr_step2"
  :value "Go to Settings > Devices > Scan QR")
 ("lng_intro_qr_step3"
  :value "Scan this image to Log In")
 ("lng_intro_qr_skip"
  :value "Or log in using your phone number")
 ("lng_intro_qr_title"
  :value "Scan From Mobile Telegram")

 ("lng_group_invite_qr_title"
  :value "Invite by QR Code")
 ("lng_group_invite_qr_about"
  :value "Everyone on Telegram can scan this code to join your group.")
 ("lng_group_invite_context_qr"
  :value "Get QR Code")
 ("lng_group_invite_qr_copied"
  :value "QR Code copied to clipboard.")

 ("lng_payments_invoice_label_test"
  :value "Test invoice")
 ("lng_payments_invoice_label"
  :value "Invoice")

 ;; Searching messages
 ("lng_search_messages_from"
  :value "Show messages from")
 ("lng_search_global_results"
  :value "Global search results")
 ("lng_search_no_results"
  :value "No messages found")
 ("lng_search_found_results"
  :one_value "Found {count} message"
  :other_value "Found {count} messages")

 ("telega_stop_live_location"
  :one_value "Stop"
  :other_value "Stop All")
 ("telega_query_stop_live_location"
  :one_value "Stop sharing live location?"
  :other_value "Stop sharing live location in {count} chats?")

 ("lng_bot_description"
  :value "What can this bot do?")

 ("lng_chat_theme_title"
  :value "Select theme")
 ("lng_chat_theme_title_about"
  :value "Theme will be also applied for {user}.")
 ("lng_chat_theme_reset"
  :value "Reset Theme")
 ("lng_chat_theme_none"
  :value "No\nTheme")

 ;; Restrictions
 ("lng_restricted_list_title"
  :value "Restricted users")
 ("lng_restricted_send_message"
  :value "Group admins have restricted you from messaging.")
 ("lng_restricted_send_inline_all"
  :value "Posting inline content isn't allowed in this group.")
 ("lng_restricted_send_inline"
  :value "The admins of this group restricted you from posting inline content here.")
 ("lng_restricted_send_media"
  :value "The admins of this group have restricted you from posting media here.")
 ("lng_restricted_send_media_until"
  :value "The admins of this group restricted you from posting media content here until {date}, {time}.")
 ("lng_restricted_send_polls_all"
  :value "Posting polls isn't allowed in this group.")
 ("lng_restricted_send_gifs_all"
  :value "Posting GIFs isn't allowed in this group.")
 ("lng_restricted_send_inline_until"
  :value "The admins of this group restricted you from posting inline content here until {date}, {time}.")
 ("lng_restricted_send_message_all"
  :value "Writing messages isn't allowed in this group.")
 ("lng_restricted_send_stickers_until"
  :value "The admins of this group restricted you from posting stickers here until {date}, {time}.")
 ("lng_restricted_send_gifs"
  :value "The admins of this group have restricted you from posting GIFs here.")
 ("lng_restricted_send_media_all"
  :value "Posting media content isn't allowed in this group.")
 ("lng_restricted_send_message_until"
  :value "The admins of this group restricted you from writing here until {date}, {time}.")
 ("lng_restricted_send_polls"
  :value "The admins of this group restricted you from posting polls here.")
 ("lng_restricted_send_polls_until"
  :value "The admins of this group restricted you from posting polls here until {date}, {time}.")
 ("lng_restricted_send_public_polls"
  :value "Sorry, polls with visible votes can't be forwarded to channels.")
 ("lng_restricted_send_stickers"
  :value "The admins of this group have restricted you from sending stickers.")
 ("lng_restricted_send_stickers_all"
  :value "Posting stickers isn't allowed in this group.")
 ("lng_restricted_send_gifs_until"
  :value "The admins of this group restricted you from posting GIFs here until {date}, {time}.")

 ("lng_sponsored"
  :value "sponsored")
 ("lng_sponsored_title"
  :value "What are sponsored messages?")
 ("lng_sponsored_info_description2"
  :value "Sponsored Messages are currently in test mode. Once they are fully launched and allow Telegram to cover its basic costs, we will start sharing ad revenue with the owners of public channels in which sponsored messages are displayed.

Online ads should no longer be synonymous with abuse of user privacy. Let us redefine how a tech company should operate – together.")
 ("lng_sponsored_info_description1"
  :value "Unlike other apps, Telegram never uses your private data to target ads. Sponsored messages on Telegram are based solely on the topic of the public channels in which they are shown. This means that no user data is mined or analyzed to display ads, and every user viewing a channel on Telegram sees the same sponsored messages.

Unlike other apps, Telegram doesn't track whether you tapped on a sponsored message and doesn't profile you based on your activity. We also prevent external links in sponsored messages to ensure that third parties can’t spy on our users. We believe that everyone has the right to privacy, and technological platforms should respect that.

Telegram offers a free and unlimited service to hundreds of millions of users, which involves significant server and traffic costs. In order to remain independent and stay true to its values, Telegram developed a paid tool to promote messages with user privacy in mind. We welcome responsible advertisers at:")

 ;; Errors
 ("lng_error_nocopy_group"
  :value "Sorry, copying from this group is disabled by admins.")
 ("lng_error_nocopy_channel"
  :value "Sorry, copying from this channel is disabled by admins.")
 ("lng_error_noforwards_group"
  :value "Sorry, forwarding from this group is disabled by admins.")
 ("lng_error_noforwards_channel"
  :value "Sorry, forwarding from this channel is disabled by admins.")

 ("lng_error_post_link_invalid"
  :value "Unfortunately, you can't access this message. You are not a member of the chat where it was posted.")
 )
